

<section class="hero has-text-centered has-background-grey-darker" id="about">
    <div class="hero-body">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <div class="container columns is-centered">
                            <div>
                                <figure class="image">
                                    <img class="is-rounded" src="{{site.url}}/assets/images/Mathieu.jpg" alt="{{site.author-name}}">
                                </figure>
                            </div>
                            <div>
                                <figure class="image">
                                    <img class="is-rounded" src="{{site.url}}/assets/images/Anais.jpg" alt="{{site.author-name}}">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p>Our team is composed of a Programmer (Mathieu) and an Artist (Anaïs). And they both come from Enodo Games and were working on The Architect : Paris before to start Mostly Wizards.</p>
                        <p>Mathieu is the "gameplay guy" but do also stuff like game and level design or lighting and vfx coding. He's a bit crazy and he's mainly the one speaking on our social media !</p>
                        <p>Anaïs is the art director and the one who chose if it's nice enough to be in the game ! So the atmospheric experience is mainly her doing along with modelling, animations and vfx. She's only working on her free time for now !</p>
                        <br>
                    </div>
                </div>
            </div>
</section>