

<section class="hero has-text-centered has-background-grey-darker" id="introduction">
    <div class="hero-body">
        <div class="hero-body">
            <div class="container">
                <img class="fit-picture" src="{{site.url}}{{site.baseurl}}/assets/images/1280x720 Placeholder.png" alt="Introduction Image">
            </div>
            <br>
            <br>
            <br>
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                        <p>Project Grief is an atmospheric 3D plateformer about grief.</p>
                        <p>It's also whitout classic fighting. Which means you will spend your time exploring this mysterious and beautiful world, while resolving puzzles and learning to accept death itself !</p>
                        <p>The word is split in 5 areas : a neutral one and one for each grief aspect (Denial, Anger, Bargaing and Depression). You will have to reach the center of each area and face the greatest challenges awaiting for you there ! And maybe this world will be safe...</p>
                        <p>On your journey you will meet with local people and creatures, but also spirits and a lot of unexpected things ! So come and share this experience with us !</p>
                        <br>
                    </div>
                </div>
            </div>
</section>