<div class="columns is-left-aligned is-multiline is-mobile">
  {% assign projects = site.posts | reverse %}
  {% for project in projects %}
  {% if project.categories[0] == "gamedesign" %}
    <div class="column has-text-centered is-paddingless is-one-two-widescreen is-one-quarter-desktop is-one-two-fullhd is-one-two-tablet is-two-two-mobile is-three-quarters-touch"
      id="project-card">
      
        {% if project.tags.size > 1 %}
          <a href="{{project.url}}" target="_self">
        {% endif %}

      <div class="has-background-black card">
        
        {% if project.tags.size > 1 %}
          <figure class="image is-16by9" style="background-image: url({{project.post-image}});">
          </figure>
        {% else %}
          <figure class="image is-16by9" style="background-image: url(/assets/images/ComingSoon.png);">
          </figure>
        {% endif %}

        <div class="card-content">
          <h1 class="title has-text-white is-size-4">{{ project.title }}</h1>
        </div>
      </div>
      </a>
    </div>
  {% endif %}
  {% endfor %}
</div>