<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      
      <div class="column is-full is-size-3">

        {% unless site.twitter_username == %}
        <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank"><i class="fab fa-twitter" style="color:rgb(29, 161, 242);"></i></a>
        {% endunless %}
        {% unless site.instagram_username ==  %}
        <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank"><i class="fab fa-instagram" style="color:rgb(252, 204, 99);"></i></a>
        {% endunless %}
        {% unless site.linkedin_username ==  %}
        <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank""><i class="fab fa-linkedin" style="color:rgb(0, 114, 177);"></i></a>
        {% endunless %}
        {% unless site.github_username ==  %}
        <a href="http://www.github.com/{{site.github_username}}" target="_blank"><i class="fab fa-github" style="color:rgb(244, 203, 178);"></i></a>
        {% endunless %}
        {% unless site.youtube_channel_id ==  %}
        <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank"><i class="fab fa-youtube" style="color:rgb(255, 0, 0);"></i></a>
        {% endunless %}
        {% unless site.reddit_username ==  %}
        <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank"><i class="fab fa-reddit" style="color:rgb(255, 67, 1);"></i></a>
        {% endunless %}
    </div>

    <a href="{{site.url}}/#introduction"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>